#addressDiv {
     
    display: grid;
    grid-template-columns: 1;
}

#addressDiv >input {
     margin-left: 3vw;
    background-color: #EDDCD2;
}

#email-div {

    display: grid;
    grid-template-columns: 1;
}

#email-div>input {
    width: 20vw;
     margin-left: 3vw;
    background-color: #EDDCD2;
}

#number-input {
    -webkit-appearance: none;
    margin: 0;
    width: 20vw;
    background-color: #EDDCD2;
}

#mobile-number-div {
     
    display: grid;
    grid-template-columns: 1;
}

#mobile-number-div>input {
    margin-left: 3vw;
    background-color: #EDDCD2;
}



#number-of-plants-div>input {
     
    background-color: #EDDCD2;
}


#date-div>input {
     
    background-color: #EDDCD2;
}

#name-div {
     
    display: grid;
    grid-template-columns: 1;
}

#name-div>input {
    margin-left: 3vw; 
    width: 20vw;
    background-color: #EDDCD2;
}

#zip-code-input {
    width: 20vw;
    background-color: #EDDCD2;
}


#address-div>input {
     
    width: 20vw;
    background-color: #EDDCD2;
}


body {
    background-color: #A5A58D;
    margin: auto;
    max-width: 500px;
    z-index: -2;
  
}

#send-button {
    margin-top: 4wv;
     
    background-color: #EDDCD2;
}

#send-button :hover {
    margin-top: 4wv;
    margin-left: 10vw;
}

#city-input {
    width: 20vw;
}

#address-input {
    width: 20vw;
}


#plantName {
    background-color: #EDDCD2;
}

#numberOfPlants {
    background-color: #EDDCD2;
}

#addPlantBtn {
    background-color: #EDDCD2;
}

#plants {
    width: 26vw;
    overflow-x: scroll;
    background-color: #EDDCD2;
}


#checkbox-div>input {
    background: #EDDCD2;
}


/* popup Header */
.popup-header {
    text-align: center;
    padding: 2px 16px;
    background-color: #5cb85c;
    color: #EDDCD2;
  }
  
  /* popup Body */
  .popup-body {padding: 2px 16px;
    text-align: center;
}
  
  /* popup Footer */
  .popup-footer {
    text-align: center;
    padding: 2px 16px;
    background-color: #A5A58D;
    color: #EDDCD2;
  }
  
  /* popup Content */
  #popup-content {
    z-index: 3;
    display: none;
    position: fixed;
    text-align: center;
    background-color: #EDDCD2;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    transition: 0.5s;
    
    left: 0;
    right: 0;
  }

/* fejl css til validering af indputs  */

#overlay {
    position: fixed;
    display: none; /* Hidden by default */
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: -2; 
    cursor: pointer;  
  }


