#addressDiv {
     
    display: grid;
    grid-template-columns: 1;
}

#addressDiv >input {
     margin-left: 3vw;
    background-color: #EDDCD2;
}

#email-div {

    display: grid;
    grid-template-columns: 1;
}

#email-div>input {
    width: 20vw;
     margin-left: 3vw;
    background-color: #EDDCD2;
}

#number-input {
    -webkit-appearance: none;
    margin: 0;
    width: 20vw;
    background-color: #EDDCD2;
}

#mobile-number-div {
     
    display: grid;
    grid-template-columns: 1;
}

#mobile-number-div>input {
    margin-left: 3vw;
    background-color: #EDDCD2;
}

#number-of-plants-div {
     
}

#number-of-plants-div>input {
     
    background-color: #EDDCD2;
}

#date-div {
     
}

#date-div>input {
     
    background-color: #EDDCD2;
}

#name-div {
     
    display: grid;
    grid-template-columns: 1;
}

#name-div>input {
    margin-left: 3vw; 
    width: 20vw;
    background-color: #EDDCD2;
}

#zip-code-input {
    width: 20vw;
    background-color: #EDDCD2;
}

#address-label {
     
}

#address-div>input {
     
    width: 20vw;
    background-color: #EDDCD2;
}

h1 {
     
}

body {
    background-color: #A5A58D;
    margin: auto;
    max-width: 500px;
}

#send-button {
    margin-top: 4wv;
     
    background-color: #EDDCD2;
}

#send-button :hover {
    margin-top: 4wv;
    margin-left: 10vw;
}

#city-input {
    width: 20vw;
}

#address-input {
    width: 20vw;
}

p {
     
}

#plantName {
    background-color: #EDDCD2;
}

#numberOfPlants {
    background-color: #EDDCD2;
}

#addPlantBtn {
    background-color: #EDDCD2;
}

#plants {
    width: 26vw;
    overflow-x: scroll;
    background-color: #EDDCD2;
}

#link-div {
     
}

#checkbox-div {
     
}

#checkbox-div>input {
    background: #EDDCD2;
}


/* fejl css til validering af indputs  */