{{#each reservation}}
    <li id="53535311" class="reservation">
        <p class="personData"> TEST OBJ Jacob Groth, tlf. 53535311</p>
        <hr>
        <p class="plantData">Indleverer d. 28/11/2020</p>
    </li>
    <li id="{{reservation.mobile}}" class="reservation">
        <p class="personData"> {{reservation.firstname}}  {{reservation.lastname}}, tlf. {{reservation.mobile}}</p>
        <hr>
        <p class="plantData">Indleverer d. 28/11/2020</p>
    </li>
{{/each}}